furl
mysql-connector
requests
#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
newspaper3k
ystockquote
yfinance
matplotlib
bs4
vaderSentiment
pyodbc
pymemcache
HTMLParser
apscheduler
pandas_datareader